* {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

.container {
  max-width: 1400px;
  margin: auto auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body {
  font-family: "Montserrat", sans-serif;
}
.yellowLine:after {
  content: "";
  margin: 20px 0;
  width: 7%;
  height: 4px;
  background: #ffc900;
  position: relative;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.font1 {
  font-size: 1.3rem;
}
.font2 {
  font-size: 1.6rem;
}
.font3 {
  font-size: 3rem;
}
.font4 {
  font-size: 4rem;
}
.padding1 {
  padding: 1rem;
}
.padding2 {
  padding: 2rem;
}
.padding3 {
  padding: 3.3rem;
}
.uppercase {
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: black;
}
.far {
  color: #ffc900;
  margin-right: 3px;
}
.fas {
  color: #0b0080;
  margin-right: 3px;
}
a:hover {
  color: #ffc900;
}
ul li {
  list-style: none;
}
/* Navbar */
#navbar {
  background-color: #1a1b1c;
}
#navbar .lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-bottom: 4px solid #ffc900;
}
#navbar .lists a {
  color: #ffc900;
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
}
html {
  scroll-behavior: smooth;
}
/* HEADER */
#header {
  display: flex;
}
.pic {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 479px;
  min-height: 530px;
  background: #1a1b1c;
}
.pic img {
  width: 380px;
}
.shortDescription {
  background-color: #ebebeb;
  width: 1260px;
}
.bold {
  font-weight: bolder;
}
.rsStudent {
  font-family: "Rubik", sans-serif;
  background-color: #ffc900;
  font-weight: 100;
  width: 25%;
  border-radius: 15px;
  padding-left: 15px;
}
.shortDescription .bold {
  font-weight: 900;
  font-family: "Rubik", sans-serif;
}
.profile h3 {
  margin-top: 50px;
  font-family: "Rubik", sans-serif;
}
.profile p {
  line-height: 1.8;
}
/* ASIDE: Education */
#asideSection {
  display: flex;
}
.aside {
  min-width: 479px;
}
#education {
  background: #1a1b1c;
  color: #fff;
  padding-left: 48px;
}
.yellowEdu {
  background: #ffc900;
  width: 50%;
  color: #1a1b1c;
  text-transform: uppercase;
  border-radius: 4px;
}
.eachEdu {
  padding-bottom: 40px;
}
.marginBottom1 {
  margin-bottom: 20px;
}
.marginBottom {
  margin-bottom: 5px;
}

/* Section Projects */
#section {
  width: 1260px;
}
#projects {
  font-family: "Rubik", sans-serif;
}
#projects .project h4 {
  font-size: 1.2rem;
}
#projects .project {
  margin-bottom: 25px;
}
.project h5 {
  font-size: 1rem;
  font-weight: 500;
}

.headings {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
}

/* SKILLS */
#skills {
  padding: 30px 0 0 48px;
  background-color: #ebebeb;
}
#skills h4 {
  font-size: 1.2rem;
}
.fa-js-square {
  color: #f0db4f;
  font-size: 20px;
  margin-right: 5px;
}
.fa-html5 {
  color: #fd7e14;
  font-size: 20px;
  margin-right: 5px;
}
.skill {
  padding-bottom: 15px;
}
.skill h4:not(img) {
}

/* Code example */
#code {
  margin: 60px 0;
}
.cv-codeblock {
  overflow: auto;
  background-color: #3b3b3b;
  color: #ffffff;
  padding: 0 20px;
  width: 800px;
  height: 300px;
  font-size: 20px;
}

/* Contacts */
#contacts {
  display: flex;
  padding-top: 220px;
  padding-left: 48px;
  font-size: 1.1rem;
  height: 300px;
  background-color: #ebebeb;
}
.contactIcons {
  flex: 1;
  background-color: #ffc900;
  padding-top: 10px;
}
#contacts .info {
  flex: 7;
  padding: 0 20px;
  margin-top: 16px;
}
.eachContactIcon {
  padding: 12px 8px;
}
#contacts .info .eachInfo {
  padding-bottom: 7px;
}
#contacts p {
  font-weight: 500;
}

/* Languages */
#languages {
  display: flex;
  justify-content: space-around;
}
#languages .language h4 {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}
#languages .language h5 {
  font-size: 1rem;
}
.dot {
  content: "";
  margin: 15px auto;
  width: 5px;
  height: 4px;
  background: #ffc900;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
#footer {
  background: #1a1b1c;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
#footer img {
  display: inline;
}
.github {
  display: flex;
  align-items: center;
}
#footer a {
  color: #fff;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}
.year {
  font-weight: bold;
}
#footer a:hover {
  color: #ffc900;
}
